.App{
    background: linear-gradient(
            106.37deg,
                    #ffe1bc 29.63%,
                    #ffcfd1 51.55%,
                    #f3c6f1 90.85%
            );
    height: 100vh;
    display: flex;
    padding: 1rem;

}
.AppGlass {
    padding: 1rem;
    height: 97%;
    width: 97%;
    background: var(--glass);
    border-radius: 2rem;
    overflow: hidden;
}
