
.CompactCard {
    display: flex;
    flex: 1;
    height: 6rem !important;
    width: 12rem;
    border-radius: 0.6rem;
    color: white;
    padding: 1rem;
    position: relative;
    cursor: pointer;
    /*background-color: #bb67ff;*/
}

.iconDisplay {
    flex: 1 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 1rem;
}
.detail>span:nth-child(1) {
    font-size: 31px;
    font-weight: bold;
}
.MetricCard {
    display: flex;
    gap: 10px;
}
.parentContainer{
    width: 100%;
}